# Ignore all datasets
MinProtBert_repository/datasets/*

# Ignore all logs, results, and models under savings
MinProtBert_repository/savings/logs/*
MinProtBert_repository/savings/results/*
MinProtBert_repository/savings/model/*

# General ignores
*.pyc
__pycache__/
*.pkl
*.h5
*.log
.DS_Store
.env
.idea/
.vscode/
